In [1]:
import pandas as pd
import json
import ast
import warnings
warnings.filterwarnings("ignore")

In [2]:
data_path = "../../URLs_Data_Filteration/Instagram/"

In [3]:
ls "../../URLs_Data_Filteration/Instagram"

 Volume in drive D has no label.
 Volume Serial Number is 4623-EF98

 Directory of D:\test\mapbox-android-sample-master\src\New folder\URLs_Data_Filteration\Instagram

01/31/2022  04:25 PM    <DIR>          .
01/31/2022  04:25 PM    <DIR>          ..
01/30/2022  11:57 AM           128,810 comments_4_months_urls.csv
01/30/2022  11:57 AM            11,333 comments_4_months_urls_1_link.csv
01/30/2022  11:57 AM            19,641 comments_4_months_urls_1_link_title.csv
01/30/2022  11:57 AM             2,058 comments_4_months_urls_more.csv
01/30/2022  11:57 AM             5,236 comments_4_months_urls_more_title.csv
01/30/2022  11:57 AM           105,151 comments_dec_urls.csv
01/30/2022  11:57 AM             6,412 comments_dec_urls_1_link.csv
01/30/2022  11:57 AM             1,856 comments_dec_urls_more.csv
               8 File(s)        280,497 bytes
               2 Dir(s)  42,455,298,048 bytes free

In [4]:
def save(set_, filepath):
    with open(filepath, 'w') as f:
        f.write(json.dumps(set_))

def read(filepath):
    with open(filepath, 'r') as f:
        return json.loads(f.read())

## 4 Months

In [5]:
df_comments_4_months_urls = pd.read_csv(data_path + "comments_4_months_urls.csv")

In [6]:
df_comments_4_months_urls.head(1)

,message,timestamp,id,n_replies,n_likes,media_id,in_reply_to,from.id,from.username,from.is_verified,from.url,from.profile_pic,urls,n_urls
0,Тебя я встретил — и пропал.\nВ любви к тебе я ...,2021-03-05 13:23:00,1.819656e+16,0.0,0.0,2.522479e+18,NaN,2.702826e+10,mir_o_slav_71,False,https://www.instagram.com/mir_o_slav_71,NaN,['http://lovefond.ru/stihi/o-lyubvi/lyubimoy-d...,1

In [7]:
df_comments_4_months_urls.columns

Index(['message', 'timestamp', 'id', 'n_replies', 'n_likes', 'media_id',
       'in_reply_to', 'from.id', 'from.username', 'from.is_verified',
       'from.url', 'from.profile_pic', 'urls', 'n_urls'],
      dtype='object')

### Likes

In [8]:
df_comments_4_months_urls.n_likes.describe()

count    282.000000
mean       7.851064
std       56.090285
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max      827.000000
Name: n_likes, dtype: float64

In [9]:
df_comments_4_months_urls.n_likes.mean()

7.851063829787234

In [10]:
df_comments_4_months_urls.n_likes.value_counts()

0.0      193
1.0       41
9.0        6
2.0        5
23.0       4
6.0        4
42.0       3
30.0       3
22.0       3
8.0        3
7.0        2
69.0       2
4.0        2
3.0        2
424.0      1
88.0       1
50.0       1
17.0       1
16.0       1
5.0        1
827.0      1
33.0       1
61.0       1
Name: n_likes, dtype: int64

In [11]:
df_comments_4_months_urls.shape[0]

282

In [12]:
df_comments_4_months_urls_top_likes = df_comments_4_months_urls[df_comments_4_months_urls.n_likes > 0]

In [13]:
df_comments_4_months_urls_top_likes.sort_values("n_likes", ascending=False, inplace=True)

In [14]:
df_comments_4_months_urls_top_likes[["urls", "n_likes"]][~df_comments_4_months_urls_top_likes[["urls", "n_likes"]].duplicated()]

                                                  urls  n_likes
63   ['https://www.hollywoodreporter.com/news/marve...    827.0
103  ['www.change.org/p/walt-disney-we-want-johnny-...    424.0
48   ['https://www.google.com.br/amp/s/amp.news.com...     88.0
101                      ['http://chng.it/r7wxtqT8N9']     69.0
100                      ['http://chng.it/9fvfm2mSb4']     69.0
..                                                 ...      ...
174  ['https://mailchi.mp/e05adb114afb/pirateslifef...      1.0
181              ['https://www.reserved.com.my/❤❤❤❤❤']      1.0
192  ['https://www.instagram.com/p/CMM11dhjfA5/?igs...      1.0
124  ['https://instagram.com/olga.boo?igshid=x3xxf8...      1.0
3    ['https://youtube.com/channel/UC1aXFVDS7j8Ak-u...      1.0

[63 rows x 2 columns]

### replies

In [15]:
df_comments_4_months_urls.n_replies.describe()

count    173.000000
mean       0.046243
std        0.236619
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        2.000000
Name: n_replies, dtype: float64

In [16]:
df_comments_4_months_urls.n_replies.value_counts()

0.0    166
1.0      6
2.0      1
Name: n_replies, dtype: int64

In [17]:
df_comments_4_months_urls_top_replies = df_comments_4_months_urls[df_comments_4_months_urls.n_replies > 0]

In [18]:
df_comments_4_months_urls_top_replies.sort_values("n_replies", ascending=False, inplace=True)

In [19]:
df_comments_4_months_urls_top_replies[["urls", "n_replies"]][~df_comments_4_months_urls_top_replies[["urls", "n_replies"]].duplicated()]

                                                  urls  n_replies
108  ['https://www.change.org/p/walt-disney-we-want...        2.0
80                    ['https://youtu.be/uretrfMA-Io']        1.0
85                       ['http://chng.it/9fvfm2mSb4']        1.0
163  ['https://scontent.feoh1-1.fna.fbcdn.net/v/t1....        1.0
171                   ['https://youtu.be/lVhDkUBDQsI']        1.0
233  ['https://www.instagram.com/reel/CNCeoMRFkIt/?...        1.0
244          ['https://youtube.com/user/drannaknabil']        1.0

## 4 dec

In [20]:
df_comments_dec_urls = pd.read_csv(data_path + "comments_dec_urls.csv")

In [21]:
df_comments_dec_urls.head(1)

,message,timestamp,id,n_replies,n_likes,media_id,in_reply_to,from.id,from.username,from.is_verified,from.url,from.profile_pic,urls,n_urls
0,@lmntrix24_7 https://m.ru.armeniasputnik.am/wo...,2020-12-25 05:41:10,1.796951e+16,NaN,2.0,2.469892e+18,1.786325e+16,1.279517e+09,eva_soturi,NaN,https://www.instagram.com/eva_soturi,NaN,['https://m.ru.armeniasputnik.am/world/2020020...,1

### Likes

In [22]:
df_comments_dec_urls.n_likes.describe()

count     266.000000
mean       17.842105
std       140.251948
min         0.000000
25%         0.000000
50%         0.000000
75%         2.000000
max      2044.000000
Name: n_likes, dtype: float64

In [23]:
df_comments_dec_urls.n_likes.value_counts()

0.0       148
1.0        40
2.0        13
3.0        11
4.0        10
5.0         8
8.0         7
7.0         4
27.0        3
6.0         2
25.0        2
10.0        2
29.0        2
9.0         2
23.0        1
2044.0      1
372.0       1
14.0        1
43.0        1
17.0        1
705.0       1
537.0       1
430.0       1
18.0        1
20.0        1
21.0        1
Name: n_likes, dtype: int64

In [24]:
df_comments_dec_urls_top_likes = df_comments_dec_urls[df_comments_dec_urls.n_likes > 0]

In [25]:
df_comments_dec_urls_top_likes.sort_values("n_likes", ascending=False, inplace=True)

In [26]:
df_comments_dec_urls_top_likes[["urls", "n_likes"]][~df_comments_dec_urls_top_likes[["urls", "n_likes"]].duplicated()]

                                                  urls  n_likes
238                      ['http://chng.it/6FQKFDHkLS']   2044.0
252                      ['http://chng.it/6FQKFDHkLS']    705.0
253                      ['http://chng.it/cRRfCKcsbm']    537.0
206                      ['http://chng.it/6FQKFDHkLS']    430.0
250                      ['http://chng.it/6FQKFDHkLS']    372.0
..                                                 ...      ...
114  ['https://www.google.com/amp/s/amp.kompas.com/...      1.0
98   ['https://www.google.com/amp/s/www.tvynovelas....      1.0
91   ['https://elpais.com/gente/2020-04-08/johnny-d...      1.0
95   ['https://www.elmundo.es/loc/2020/02/02/5e371b...      1.0
93   ['https://elpais.com/elpais/2020/02/03/gente/1...      1.0

[76 rows x 2 columns]

### replies

In [27]:
df_comments_dec_urls.n_replies.describe()

count    143.000000
mean       0.097902
std        0.479358
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        4.000000
Name: n_replies, dtype: float64

In [28]:
df_comments_dec_urls.n_replies.value_counts()

0.0    136
2.0      4
1.0      2
4.0      1
Name: n_replies, dtype: int64

In [29]:
df_comments_dec_urls_top_replies = df_comments_dec_urls[df_comments_dec_urls.n_replies > 0]

In [30]:
df_comments_dec_urls_top_replies.sort_values("n_replies", ascending=False, inplace=True)

In [31]:
df_comments_dec_urls_top_replies[["urls", "n_replies"]][~df_comments_dec_urls_top_replies[["urls", "n_replies"]].duplicated()]

                                                  urls  n_replies
8    ['https://www.change.org/p/dc-entertainment-re...        4.0
35   ['https://youtube.com/channel/UCg0C-N_MPYYOXyF...        2.0
117  ['https://www.amazon.com/gp/product/B08L9RNVBR...        2.0
152                      ['http://chng.it/6mQrjqdMDd']        2.0
242                                     ['www.nrc.no']        2.0
162                      ['http://chng.it/zhxsGNvZtx']        1.0
187  ['https://www.change.org/p/dc-entertainment-re...        1.0