In [1]:
import pandas as pd

In [6]:
saving = "URLs_Lists/"

In [17]:
def saving_list(df, column, name):
    with open(saving + f"{name}.txt", "w") as f:
        f.write(str(list(df[column].values)))

## top interacted data

In [18]:
# load 4 months data
df_top_interacted_4_months = pd.read_csv("Top_Interacted/Data/_all_4_months.csv")
display(df_top_interacted_4_months.head(2), df_top_interacted_4_months.shape[0])

,shared_url,id/url,text,n_likes,total,url_id,media_id,n_replies,score,n_views,n_dislikes,n_favorites,n_comments,platform
0,https://www.youtube.com/watch?v=HIShWZkr0hs&li...,https://www.youtube.com/watch?v=A1kOXoxgt18,the day olive was born... 1 million subscriber...,154907.0,14885900.0,youtube_videos_4_months_0,NaN,NaN,NaN,7271086.0,4605.0,0.0,12352.0,youtube
1,https://www.youtube.com/watch?v=-AP5Y791RN4&li...,https://www.youtube.com/watch?v=A1kOXoxgt18,the day olive was born... 1 million subscriber...,154907.0,14885900.0,youtube_videos_4_months_0,NaN,NaN,NaN,7271086.0,4605.0,0.0,12352.0,youtube

561

In [22]:
saving_list(df_top_interacted_4_months, "shared_url", "top_interacted_4_months")

In [5]:
df_top_interacted_dec = pd.read_csv("Top_Interacted/Data/_all_dec.csv")
df_top_interacted_dec.shape[0]

598

In [23]:
saving_list(df_top_interacted_dec, "shared_url", "top_interacted_dec")

## top shared

In [21]:
# load 4 months data
df_top_shared_4_months = pd.read_csv("Top_Shared/Data/_top_shared_4_months_all_platforms.csv")
display(df_top_shared_4_months.head(2), df_top_shared_4_months.shape[0])

,Unnamed: 0,shared_url,n_shared,from_n_users,users,n_urls,platform,from,id/url,text,n_likes,total,url_id,media_id,n_replies,score,n_views,n_dislikes,n_favorites,n_comments
0,0,https://www.instagram.com/amberryphoeberry,1,1,{'UCxnYiv7s4698GRIlGE1_T7g'},{7},youtube,comment,https://www.youtube.com/watch?v=A1kOXoxgt18,the day olive was born... 1 million subscriber...,154907.0,14885900.0,youtube_videos_4_months_0,NaN,NaN,NaN,7271086.0,4605.0,0.0,12352.0
1,1,https://www.roblox.com/groups/3857126/Amberry-...,1,1,{'UCxnYiv7s4698GRIlGE1_T7g'},{7},youtube,comment,https://www.youtube.com/watch?v=A1kOXoxgt18,the day olive was born... 1 million subscriber...,154907.0,14885900.0,youtube_videos_4_months_0,NaN,NaN,NaN,7271086.0,4605.0,0.0,12352.0

753

In [24]:
saving_list(df_top_shared_4_months, "shared_url", "top_shared_4_months")

In [25]:
# load dec data
df_top_shared_dec = pd.read_csv("Top_Shared/Data/_top_shared_dec_all_platforms.csv")
display(df_top_shared_dec.head(2), df_top_shared_dec.shape[0])

,Unnamed: 0,shared_url,n_shared,from_n_users,users,n_urls,platform,from,id/url,text,n_likes,total,url_id,media_id,n_replies,score,n_views,n_dislikes,n_favorites,n_comments
0,0,https://link.chtbl.com/7fp6uoqk,1,1,{'UCJ5v_MCY6GNUBTO8-D3XoAg'},{16},youtube,comment,https://www.youtube.com/watch?v=lnlE_HEKuc0,full match - men's elimination chamber match: ...,1100425.0,91303003.0,youtube_videos_dec_0,NaN,NaN,NaN,90110984.0,70870.0,0.0,20724.0
1,1,https://twitter.com/wwe,1,1,{'UCJ5v_MCY6GNUBTO8-D3XoAg'},{16},youtube,comment,https://www.youtube.com/watch?v=lnlE_HEKuc0,full match - men's elimination chamber match: ...,1100425.0,91303003.0,youtube_videos_dec_0,NaN,NaN,NaN,90110984.0,70870.0,0.0,20724.0

901

In [26]:
saving_list(df_top_shared_dec, "shared_url", "top_shared_dec")