In [1]:
from helpers import (
    URLS,
    get_urls,
    urls_df,
    one_link_df,
    one_link_urls,
    one_link_urls_with_count,
    df_more_than_link, more_than_one_link_with_count
)
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# Twitter Data URLs

In [2]:
twitter_filter_path =  "../URLS_Data/Twitter/"

## Table of Contents
<ul>
<li><a href="#Comments"><b>Comments</b></a></li>
<li><a href="#Posts">Posts</a></li>
</ul>

In [3]:
twitter_data_path =  "../_Twitter - Data/"

<a id='Tweets'></a>

## Tweets


><ul>
 <li><a href="#4">4 Months</a></li>
 <li><a href="#12">December</a></li>  

 </ul>

In [4]:
df_tweets_21 = pd.read_csv(twitter_data_path + "tweets_2021.csv")

In [5]:
df_tweets_21.head(2)

,id_str,created_at,full_text,lang,in_reply_to_status_id_str,in_reply_to_user_id,entities.hashtags,entities.media,entities.symbols,entities.urls,...,user.friends_count,user.lang,user.location,user.name,user.screen_name,user.profile_banner_url,user.profile_image_url,user.statuses_count,user.url,user.verified
0,1345359931550134272,2021-01-02 13:22:57+00:00,So ready ‚ú® for the next #DeppMovieNight\n\nFil...,en,NaN,NaN,"[{'indices': [24, 39], 'text': 'DeppMovieNight...",NaN,[],[],...,544.0,NaN,"South West, England",üè¥‚Äç‚ò†Ô∏è Tongo Bozzie üè¥‚Äç‚ò†Ô∏è,Noneofthemknew1,https://pbs.twimg.com/profile_banners/13190075...,http://pbs.twimg.com/profile_images/1384638730...,20334.0,NaN,False
1,1345359929507459075,2021-01-02 13:22:57+00:00,#Johnuary #DeppMovieNight #JusticeForJohnnyDep...,und,NaN,NaN,"[{'indices': [0, 9], 'text': 'Johnuary'}, {'in...",NaN,[],[],...,52.0,NaN,France,Nor33 üá´üá∑,Angiex0101,NaN,http://pbs.twimg.com/profile_images/1384567498...,13101.0,NaN,False

In [6]:
df_tweets_21.columns

Index(['id_str', 'created_at', 'full_text', 'lang',
       'in_reply_to_status_id_str', 'in_reply_to_user_id', 'entities.hashtags',
       'entities.media', 'entities.symbols', 'entities.urls',
       'entities.user_mentions', 'source', 'quoted_status.id_str',
       'quoted_status.created_at', 'quoted_status.full_text',
       'quoted_status.lang', 'quoted_status.in_reply_to_status_id_str',
       'quoted_status.in_reply_to_user_id', 'quoted_status.entities.hashtags',
       'quoted_status.entities.media', 'quoted_status.entities.symbols',
       'quoted_status.entities.urls', 'quoted_status.entities.user_mentions',
       'quoted_status.user.id_str', 'quoted_status.source', 'user.id_str',
       'user.created_at', 'user.description', 'user.followers_count',
       'user.friends_count', 'user.lang', 'user.location', 'user.name',
       'user.screen_name', 'user.profile_banner_url', 'user.profile_image_url',
       'user.statuses_count', 'user.url', 'user.verified'],
      dtype='object')

In [7]:
df_tweets_21["created_at"] = pd.to_datetime(df_tweets_21["created_at"])

In [8]:
df_tweets_21.drop_duplicates(inplace=True)

In [9]:
df_tweets_21.shape[0]

228687

In [10]:
df_tweets_20 = pd.read_csv(twitter_data_path + "tweets_2020_lite(1).csv")

In [11]:
df_tweets_20.head(1)

,id_str,created_at,full_text,user.id_str,user.screen_name,user.name,user.created_at
0,1214659714698633223,2020-01-07 21:26:57+00:00,@jackshitnobody He is a great actor . And ambe...,3416958298,Kenman_RiderW,SpecSpiderKen,2015-08-12 03:54:29+00:00

In [12]:
df_tweets_20["created_at"] = pd.to_datetime(df_tweets_20["created_at"])

In [13]:
df_tweets_20.drop_duplicates(inplace=True)

In [14]:
urls_tweets_20 = URLS(df_tweets_20)
urls_tweets_21 = URLS(df_tweets_21)

In [15]:
# 4 months data
df_tweets_4_months = urls_tweets_21.months_filteration(
    datetime_column="created_at", start="2021-01-01 00:00:00", end="2021-05-01 00:00:00"
)

In [16]:
# dec data
df_tweets_dec = urls_tweets_20.months_filteration(
    datetime_column="created_at", start="2020-12-01 00:00:00", end="2021-01-01 00:00:00"
)

In [17]:
df_tweets_4_months.created_at.min(), df_tweets_4_months.created_at.max()

(datetime.datetime(2021, 1, 1, 0, 0, 7, tzinfo=tzutc()),
 datetime.datetime(2021, 4, 25, 23, 59, 6, tzinfo=tzutc()))

In [18]:
df_tweets_dec.created_at.min(), df_tweets_dec.created_at.max()

(Timestamp('2020-12-01 00:00:27+0000', tz='UTC'),
 Timestamp('2020-12-31 23:59:51+0000', tz='UTC'))

### 4 Months
<a id='4'></a>


><ul>
 <li><a href="#one4">One Link</a></li>
 <li><a href="#more4">More Than One Link</a></li>  

 </ul>

In [19]:
df_tweets_4_months.shape[0]

228686

In [20]:
df_tweets_4_months.drop_duplicates(inplace=True)

In [21]:
df_tweets_4_months["urls"] = df_tweets_4_months.full_text.astype(str).apply(lambda x: get_urls(x))

In [22]:
df_tweets_4_months["n_urls"] = df_tweets_4_months.urls.apply(lambda x: len(x))

In [23]:
df_tweets_4_months_urls = urls_df(df_tweets_4_months)

In [24]:
df_tweets_4_months_urls.head(10)

,id_str,created_at,full_text,lang,in_reply_to_status_id_str,in_reply_to_user_id,entities.hashtags,entities.media,entities.symbols,entities.urls,...,user.location,user.name,user.screen_name,user.profile_banner_url,user.profile_image_url,user.statuses_count,user.url,user.verified,urls,n_urls
0,1345358697959047168,2021-01-02 13:18:03+00:00,@_missyc97_ 2021 to Amber Heard.üòÇ https://t.co...,en,1345357659885678592.0,1083787499980374016.0,[],"[{'original_info': {'width': 296, 'focus_rects...",[],[],...,NaN,Liono,f_liono,https://pbs.twimg.com/profile_banners/12438150...,http://pbs.twimg.com/profile_images/1384133945...,28996.0,NaN,False,[https://t.co/5djnLz36zv],1
1,1345357307115307009,2021-01-02 13:12:32+00:00,When Amber Heard is in the mood but her mortal...,en,NaN,NaN,[],"[{'original_info': {'width': 548, 'focus_rects...",[],[],...,NaN,frank drebin,danblock4,https://pbs.twimg.com/profile_banners/71012719...,http://pbs.twimg.com/profile_images/1261067409...,3976.0,NaN,False,[https://t.co/MYFspp5yLA],1
2,1345357193709826052,2021-01-02 13:12:05+00:00,@kathygriffin These didn‚Äôt age well. Oh Kathy ...,en,NaN,21148293.0,"[{'indices': [46, 86], 'text': 'WomenSupportin...","[{'original_info': {'width': 750, 'focus_rects...",[],[],...,Used to be @tawitt2woo,Jacke,MsDizzyGillespi,https://pbs.twimg.com/profile_banners/18912893...,http://pbs.twimg.com/profile_images/1341369245...,11003.0,http://t.co/3lEGt9dix4,False,[https://t.co/nrcetCauxr],1
3,1345356222191591424,2021-01-02 13:08:13+00:00,"Amores, hoje vai rolar mais uma #DeppMovieNigh...",pt,NaN,NaN,"[{'indices': [32, 47], 'text': 'DeppMovieNight...","[{'original_info': {'width': 1280, 'focus_rect...",[],[],...,Rio de Janeiro,Princess Consuela Bananahammock,PrinConsuella_,https://pbs.twimg.com/profile_banners/98724083...,http://pbs.twimg.com/profile_images/1379816511...,30153.0,NaN,False,[https://t.co/0Byxh0wpBr],1
4,1345354652930494465,2021-01-02 13:01:59+00:00,Buenos d√≠as üåû \n\n#JohnnyDepp \n#JusticeForJoh...,es,NaN,NaN,"[{'indices': [16, 27], 'text': 'JohnnyDepp'}, ...","[{'original_info': {'width': 682, 'focus_rects...",[],[],...,Uruguay,Johnny Depp Uruguay üá∫üáæ,DeppUruguay,https://pbs.twimg.com/profile_banners/13355872...,http://pbs.twimg.com/profile_images/1387060061...,1302.0,https://t.co/o4CeiJw6BO,False,[https://t.co/YFGIgE3xoJ],1
5,1345354607002869760,2021-01-02 13:01:48+00:00,Here's the best way to hold a watch-along on #...,en,NaN,NaN,"[{'indices': [45, 54], 'text': 'Johnuary'}, {'...","[{'original_info': {'width': 1280, 'focus_rect...",[],[],...,NaN,Depp Movie Night,DeppMovieNight,https://pbs.twimg.com/profile_banners/13403194...,http://pbs.twimg.com/profile_images/1343450258...,2488.0,NaN,False,[https://t.co/kokc7zLhc9],1
6,1345353269237997570,2021-01-02 12:56:29+00:00,Here's the best way to hold a watch-along on #...,en,NaN,NaN,"[{'indices': [45, 54], 'text': 'Johnuary'}, {'...","[{'original_info': {'width': 1280, 'focus_rect...",[],[],...,NaN,Depp Movie Night,DeppMovieNight,https://pbs.twimg.com/profile_banners/13403194...,http://pbs.twimg.com/profile_images/1343450258...,2488.0,NaN,False,[https://t.co/QwVuuoNJXZ],1
7,1345352861564231681,2021-01-02 12:54:52+00:00,#JusticeForJohnnyDepp https://t.co/BnthHXhgVh,und,NaN,NaN,"[{'indices': [0, 21], 'text': 'JusticeForJohnn...","[{'original_info': {'width': 720, 'focus_rects...",[],[],...,Corpse City Resident,707,corpsekitten707,https://pbs.twimg.com/profile_banners/83496944...,http://pbs.twimg.com/profile_images/1373191824...,2776.0,NaN,False,[https://t.co/BnthHXhgVh],1
8,1345352821047259136,2021-01-02 12:54:42+00:00,https://t.co/zxs2zBKWTZ\n\n #justiceforjohnnydepp,und,NaN,NaN,"[{'indices': [26, 47], 'text': 'justiceforjohn...",NaN,[],"[{'display_url': 'chng.it/T5bNhhJ74Z', 'indice...",...,NaN,Pussygalore,Pussyga96828631,https://pbs.twimg.com/profile_banners/11638291...,http://pbs.twimg.com/profile_images/1324995849...,1405.0,NaN,False,[https://t.co/zxs2zBKWTZ],1
9,1345290114046558208,2021-01-02 08:45:32+00:00,Who doesn‚Äôt mind commuting perjury...... this ...,en,NaN,NaN,"[{'indices': [73, 93], 'text': 'justiceForKate...","[{'original_info': {'width': 828, 'focus_rects...",[],[],...,"Florida, USA",Spirit of Dani üç∑üéÉüëª,delloliod,https://pbs.twimg.com/profile_banners/42885138...,http://pbs.twimg.com/profile_images/1323335427...,2336.0,https://t.co/RPOGFRYvPF,False,[https://t.co/i5je8tViCv],1

In [25]:
# save data
df_tweets_4_months_urls.to_csv(
    twitter_filter_path + "df_tweets_4_months_urls.csv", index=False
)

<a id='one4'></a>
#### One Link

><ul>
 <li><a href="#one4">One Link</a></li>
 <li><a href="#more4">More Than One Link</a></li>  

 </ul>

In [26]:
df_tweets_4_months_urls_1_link = one_link_df(df_tweets_4_months_urls)

In [27]:
df_tweets_4_months_urls_1_link.head(1)

,id_str,created_at,full_text,lang,in_reply_to_status_id_str,in_reply_to_user_id,entities.hashtags,entities.media,entities.symbols,entities.urls,...,user.name,user.screen_name,user.profile_banner_url,user.profile_image_url,user.statuses_count,user.url,user.verified,urls,n_urls,url
0,1345358697959047168,2021-01-02 13:18:03+00:00,@_missyc97_ 2021 to Amber Heard.üòÇ https://t.co...,en,1345357659885678592.0,1083787499980374016.0,[],"[{'original_info': {'width': 296, 'focus_rects...",[],[],...,Liono,f_liono,https://pbs.twimg.com/profile_banners/12438150...,http://pbs.twimg.com/profile_images/1384133945...,28996.0,NaN,False,[https://t.co/5djnLz36zv],1,https://t.co/5djnLz36zv

In [28]:
list_tweets_4_months_urls_1_link = one_link_urls(df_tweets_4_months_urls_1_link)

In [29]:
list_tweets_4_months_urls_1_link

array([list(['https://t.co/5djnLz36zv']),
       list(['https://t.co/MYFspp5yLA']),
       list(['https://t.co/nrcetCauxr']), ...,
       list(['https://t.co/UIDQw7a4c2']),
       list(['https://t.co/NI5aXL1X7R']),
       list(['https://t.co/GOOQGL79GP'])], dtype=object)

In [30]:
df_tweets_4_months_urls_1_link.head(1)

,id_str,created_at,full_text,lang,in_reply_to_status_id_str,in_reply_to_user_id,entities.hashtags,entities.media,entities.symbols,entities.urls,...,user.name,user.screen_name,user.profile_banner_url,user.profile_image_url,user.statuses_count,user.url,user.verified,urls,n_urls,url
0,1345358697959047168,2021-01-02 13:18:03+00:00,@_missyc97_ 2021 to Amber Heard.üòÇ https://t.co...,en,1345357659885678592.0,1083787499980374016.0,[],"[{'original_info': {'width': 296, 'focus_rects...",[],[],...,Liono,f_liono,https://pbs.twimg.com/profile_banners/12438150...,http://pbs.twimg.com/profile_images/1384133945...,28996.0,NaN,False,[https://t.co/5djnLz36zv],1,https://t.co/5djnLz36zv

In [31]:
df_tweets_4_months_urls_1_link["user.id_str"]

0        1.243815e+18
1        7.101272e+08
2        1.891289e+07
3        9.872408e+17
4        1.335587e+18
             ...
62949    1.277703e+18
62950    1.610834e+08
62951    3.820443e+09
62952    1.277703e+18
62953    1.482895e+07
Name: user.id_str, Length: 62954, dtype: float64

In [32]:
df_tweets_4_months_urls_1_link_ith_users_count = one_link_urls_with_count(
    df_tweets_4_months_urls_1_link, user_column="user.id_str", url_column="url"
)

In [33]:
df_tweets_4_months_urls_1_link_ith_users_count

                          link  count  n_users
0      https://t.co/5djnLz36zv      1        1
1      https://t.co/MBqZrI8zUt      1        1
2      https://t.co/Gy5NP2jcIK      1        1
3      https://t.co/NITKF98NfM      1        1
4      https://t.co/vGo68u4ALf      1        1
...                        ...    ...      ...
59618  https://t.co/yVQUnY77KX      1        1
59619  https://t.co/aekcEOS2r5      1        1
59620  https://t.co/xgkG9t2xi1      1        1
59621  https://t.co/IPfXjBgX4p      1        1
59622  https://t.co/GOOQGL79GP      1        1

[59623 rows x 3 columns]

In [34]:
df_tweets_4_months_urls_1_link_ith_users_count.to_csv(
    twitter_filter_path
    + "df_tweets_4_months_urls_1_link.csv",
    index=False,
)

<a id='more4'></a>
#### More Than One Link

><ul>
 <li><a href="#one4">One Link</a></li>
 <li><a href="#more4">More Than One Link</a></li>  

 </ul>

In [35]:
df_tweets_4_months_urls_more = df_more_than_link(df_tweets_4_months_urls)

In [36]:
df_tweets_4_months_urls_more.head(2)

,id_str,created_at,full_text,lang,in_reply_to_status_id_str,in_reply_to_user_id,entities.hashtags,entities.media,entities.symbols,entities.urls,...,user.location,user.name,user.screen_name,user.profile_banner_url,user.profile_image_url,user.statuses_count,user.url,user.verified,urls,n_urls
0,1345233358889091074,2021-01-02 05:00:00+00:00,"""Just that JOHNNY DEPP IS INNOCENT ""\n\nTake t...",en,1340073306603589632.0,1338967066469167104.0,"[{'indices': [130, 151], 'text': 'JusticeForJo...","[{'original_info': {'width': 733, 'focus_rects...",[],"[{'display_url': 'at-angys.de/jd/survey.html',...",...,NaN,JD's Supporters Survey üè¥‚Äç‚ò†Ô∏è,JDsupportSurvey,https://pbs.twimg.com/profile_banners/13389670...,http://pbs.twimg.com/profile_images/1380597112...,595.0,NaN,False,"[https://t.co/b0JfHT49Ax, https://t.co/4yk186x...",2
1,1353271503526227968,2021-01-24 09:20:43+00:00,I have an Instagram for this account aswell bt...,en,NaN,NaN,"[{'indices': [98, 109], 'text': 'johnnydepp'},...","[{'original_info': {'width': 1152, 'focus_rect...",[],"[{'display_url': 'instagram.com/jdforeveruk', ...",...,NaN,Johnny Depp Forever üñ§,JDForeverUK,https://pbs.twimg.com/profile_banners/13305377...,http://pbs.twimg.com/profile_images/1343145607...,1678.0,https://t.co/HsVNkUX82V,False,"[https://t.co/HsVNkUX82V, https://t.co/NAQZWfk...",2

In [37]:
df_tweets_4_months_urls_more_link_with_users_count = more_than_one_link_with_count(df_tweets_4_months_urls_more,
                             "user.id_str",
                             "urls")

In [38]:
df_tweets_4_months_urls_more_link_with_users_count.to_csv(
    twitter_filter_path
    + "df_tweets_4_months_urls_more.csv",
    index=False,
)

### December
<a id='12'></a>


><ul>
 <li><a href="#one12">One Link</a></li>
 <li><a href="#more12">More Than One Link</a></li>  

 </ul>

In [39]:
df_tweets_dec["urls"] = df_tweets_dec.full_text.apply(lambda x: get_urls(x))

In [40]:
df_tweets_dec["n_urls"] = df_tweets_dec.urls.apply(lambda x: len(x))

In [41]:
df_tweets_dec_urls = urls_df(df_tweets_dec)

In [42]:
df_tweets_dec_urls.head(5)

,id_str,created_at,full_text,user.id_str,user.screen_name,user.name,user.created_at,urls,n_urls
0,1338253238244683777,2020-12-13 22:43:30+00:00,It Is just me? Or everybody does when sees Joh...,1327952287889821706,Camilaalustiza3,OnlyForJohnny,2020-11-15 12:31:21+00:00,[https://t.co/UzOD82X1oU],1
1,1338253210646163456,2020-12-13 22:43:23+00:00,I reckon the old boy is behind all of this.\nP...,1329500457748848648,Aishacat5,Aishacatüè¥‚Äç‚ò†Ô∏èüòª,2020-11-19 19:03:24+00:00,[https://t.co/cSg2ieMaaA],1
2,1338252357453443075,2020-12-13 22:40:00+00:00,Johnny Depp exige a Warner Bros. sacar a Amber...,244218738,SinEmbargoMX,Sin Embargo MX,2011-01-28 20:21:23+00:00,"[https://t.co/NHto0O1Ftk, https://t.co/v6P21cV...",2
3,1338251599983104002,2020-12-13 22:36:59+00:00,Yesterday I went to a store and asked for the ...,1231252446,cat_a_estranha,tiny hot topic bitch,2013-03-01 20:17:55+00:00,[https://t.co/iIKojPGvhY],1
4,1338251229017804801,2020-12-13 22:35:31+00:00,@feral_feminist @Zephyrdust8 @win_confidante @...,1302990802260504577,JustMe_Katiebee,Katie-Waldman-Depphead,2020-09-07 15:23:20+00:00,[https://t.co/Up8gbWyjkv],1

In [43]:
# save data
df_tweets_dec_urls.to_csv(
    twitter_filter_path + "df_tweets_dec_urls.csv", index=False
)

<a id='one12'></a>
#### One Link

><ul>
 <li><a href="#one12">One Link</a></li>
 <li><a href="#more12">More Than One Link</a></li>  

 </ul>

In [44]:
df_tweets_dec_urls_1_link = one_link_df(df_tweets_dec_urls)

In [45]:
df_tweets_dec_urls_1_link.head(1)

,id_str,created_at,full_text,user.id_str,user.screen_name,user.name,user.created_at,urls,n_urls,url
0,1338253238244683777,2020-12-13 22:43:30+00:00,It Is just me? Or everybody does when sees Joh...,1327952287889821706,Camilaalustiza3,OnlyForJohnny,2020-11-15 12:31:21+00:00,[https://t.co/UzOD82X1oU],1,https://t.co/UzOD82X1oU

In [46]:
list_tweets_dec_urls_1_link = one_link_urls(df_tweets_dec_urls_1_link)

In [47]:
list_tweets_dec_urls_1_link

array([list(['https://t.co/UzOD82X1oU']),
       list(['https://t.co/cSg2ieMaaA']),
       list(['https://t.co/iIKojPGvhY']), ...,
       list(['https://t.co/p7SBtTMNbI']),
       list(['https://t.co/9fgaSRtGQf']),
       list(['https://t.co/Q3GSkvO1QM'])], dtype=object)

In [48]:
df_tweets_dec_urls_1_link_ith_users_count = one_link_urls_with_count(
    df_tweets_dec_urls_1_link, user_column="user.id_str", url_column="url"
)

In [49]:
df_tweets_dec_urls_1_link_ith_users_count

                          link  count  n_users
0      https://t.co/UzOD82X1oU      1        1
1      https://t.co/znaaj58ogP      1        1
2      https://t.co/wIUkxC9omO      1        1
3      https://t.co/6NlaDeRNIQ      1        1
4      https://t.co/wRwDKWGMQE      1        1
...                        ...    ...      ...
21544  https://t.co/pJkk2uXTYm      1        1
21545  https://t.co/alrYa5vtUx      1        1
21546  https://t.co/uQLbkf7O8O      1        1
21547  https://t.co/pAz0hJ8XCV      1        1
21548  https://t.co/Q3GSkvO1QM      1        1

[21549 rows x 3 columns]

In [50]:
# save data
df_tweets_dec_urls_1_link_ith_users_count.to_csv(
    twitter_filter_path
    + "df_tweets_dec_urls_1_link.csv",
    index=False,
)

<a id='more4'></a>
#### More Than One Link

><ul>
 <li><a href="#one4">One Link</a></li>
 <li><a href="#more4">More Than One Link</a></li>  

 </ul>

In [51]:
df_tweets_dec_urls_urls_more = df_more_than_link(df_tweets_dec_urls)

In [52]:
df_tweets_dec_urls_urls_more.head(2)

,id_str,created_at,full_text,user.id_str,user.screen_name,user.name,user.created_at,urls,n_urls
0,1338252357453443075,2020-12-13 22:40:00+00:00,Johnny Depp exige a Warner Bros. sacar a Amber...,244218738,SinEmbargoMX,Sin Embargo MX,2011-01-28 20:21:23+00:00,"[https://t.co/NHto0O1Ftk, https://t.co/v6P21cV...",2
1,1338262424063860738,2020-12-13 23:20:00+00:00,Johnny Depp exige a Warner Bros. sacar a Amber...,415155226,MagazineSEMX,Sin Embargo Magazine,2011-11-17 23:55:57+00:00,"[https://t.co/quKtMDv5Ry, https://t.co/N4Nwds7...",2

In [53]:
df_tweets_dec_urls_urls_more_with_users_count = more_than_one_link_with_count(df_tweets_dec_urls_urls_more,
                             "user.id_str",
                             "urls")

In [54]:
df_tweets_dec_urls_urls_more_with_users_count.to_csv(
    twitter_filter_path
    + "df_tweets_dec_urls_more.csv",
    index=False,
)