In [1]:
from helpers import (
    URLS,
    get_urls,
    urls_df,
    one_link_df,
    one_link_urls,
    one_link_urls_with_count,
    df_more_than_link, more_than_one_link_with_count
)
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# Twitter Data URLs

In [2]:
ls "../URLS_Data/Twitter/"

 Volume in drive D has no label.
 Volume Serial Number is 4623-EF98

 Directory of D:\test\mapbox-android-sample-master\src\New folder\URLS_Data\Twitter

01/22/2022  06:42 PM    <DIR>          .
01/22/2022  06:42 PM    <DIR>          ..
01/21/2022  08:50 PM    <DIR>          .ipynb_checkpoints
01/20/2022  09:09 PM       120,742,912 df_tweets_4_months_urls.csv
01/20/2022  09:14 PM         1,730,038 df_tweets_4_months_urls_1_link.csv
01/20/2022  09:14 PM           155,452 df_tweets_4_months_urls_more.csv
01/20/2022  09:14 PM         7,660,662 df_tweets_dec_urls.csv
01/20/2022  09:15 PM           625,219 df_tweets_dec_urls_1_link.csv
01/20/2022  09:15 PM            50,284 df_tweets_dec_urls_more.csv
01/22/2022  06:52 PM    <DIR>          unshortend_links_data
01/21/2022  09:15 PM            28,726 Untitled.ipynb
01/21/2022  08:57 PM            28,700 url_analysis.ipynb
               8 File(s)    131,021,993 bytes
               4 Dir(s)  43,087,847,424 bytes free

In [6]:
twitter_path =  "../URLS_Data/Twitter/unshortend_links_data/"

In [7]:
ls "../URLS_Data/Twitter/unshortend_links_data/"

 Volume in drive D has no label.
 Volume Serial Number is 4623-EF98

 Directory of D:\test\mapbox-android-sample-master\src\New folder\URLS_Data\Twitter\unshortend_links_data

01/22/2022  06:52 PM    <DIR>          .
01/22/2022  06:52 PM    <DIR>          ..
01/22/2022  06:52 PM         9,020,209 df_tweets_dec_urls.csv
01/22/2022  06:52 PM    <DIR>          from_cloud
               1 File(s)      9,020,209 bytes
               3 Dir(s)  43,087,847,424 bytes free

### December
<a id='12'></a>


><ul>
 <li><a href="#one12">One Link</a></li>
 <li><a href="#more12">More Than One Link</a></li>  

 </ul>

In [10]:
df_tweets_dec_urls = pd.read_csv(twitter_path + "df_tweets_dec_urls.csv")

In [15]:
df_tweets_dec_urls.rename(columns={"urls": "shorten_urls",
                                  "unshorten_urls": "urls"}, inplace=True)

In [19]:
import ast

In [20]:
df_tweets_dec_urls["urls"] = df_tweets_dec_urls["urls"].apply(lambda x: ast.literal_eval(x))

In [21]:
df_tweets_dec_urls["urls"]

0        [https://twitter.com/Camilaalustiza3/status/13...
1                               [https://chng.it/Z9hCPtzh]
2        [https://twitter.com/cat_a_estranha/status/133...
3        [https://twitter.com/JustMe_Katiebee/status/13...
4        [https://www.change.org/p/rupert-murdoch-probe...
                               ...
23965    [https://www.entreveredas.com.mx/2020/12/amber...
23966    [https://nypost.com/2020/11/28/star-studded-ti...
23967    [https://www.radiovanguardia.com/2020/12/06/am...
23968    [https://www.reddit.com/r/memes/comments/k5ao7...
23969    [https://www.change.org/, https://www.change.o...
Name: urls, Length: 23970, dtype: object

<a id='one12'></a>
#### One Link

><ul>
 <li><a href="#one12">One Link</a></li>
 <li><a href="#more12">More Than One Link</a></li>  

 </ul>

In [22]:
df_tweets_dec_urls_1_link = one_link_df(df_tweets_dec_urls)

In [23]:
df_tweets_dec_urls_1_link.head(1)

,id_str,created_at,full_text,user.id_str,user.screen_name,user.name,user.created_at,shorten_urls,n_urls,urls,url
0,1.338250e+18,2020-12-13 22:43:30+00:00,It Is just me? Or everybody does when sees Joh...,1.327950e+18,Camilaalustiza3,OnlyForJohnny,2020-11-15 12:31:21+00:00,['https://t.co/UzOD82X1oU'],1,[https://twitter.com/Camilaalustiza3/status/13...,https://twitter.com/Camilaalustiza3/status/133...

In [24]:
list_tweets_dec_urls_1_link = one_link_urls(df_tweets_dec_urls_1_link)

In [25]:
list_tweets_dec_urls_1_link

array([list(['https://twitter.com/Camilaalustiza3/status/1338253238244683777/photo/1']),
       list(['https://chng.it/Z9hCPtzh']),
       list(['https://twitter.com/cat_a_estranha/status/1338251599983104002/photo/1']),
       ..., list(['https://chng.it/d7pDjTXB']),
       list(['https://chng.it/Tt9w4DXq']),
       list(['https://twitter.com/stockyjulz/status/1335459423788048384/photo/1'])],
      dtype=object)

In [26]:
df_tweets_dec_urls_1_link_ith_users_count = one_link_urls_with_count(
    df_tweets_dec_urls_1_link, user_column="user.id_str", url_column="url"
)

In [27]:
df_tweets_dec_urls_1_link_ith_users_count

                                                    link  count  n_users
0                           https://youtu.be/1yuki8YG3xA     49       47
1                           https://youtu.be/U_MYHvZZizY     47       47
2      https://www.change.org/p/dc-entertainment-remo...    105       40
3                           https://youtu.be/uretrfMA-Io     42       38
4                           https://youtu.be/4Sy-9UnO_hE     38       37
...                                                  ...    ...      ...
19619  https://twitter.com/Soledad15981419/status/134...      1        1
19620  https://twitter.com/Soledad15981419/status/134...      1        1
19621  https://twitter.com/Soledad15981419/status/134...      1        1
19622  https://twitter.com/Soledad15981419/status/134...      1        1
19623  https://twitter.com/stockyjulz/status/13354594...      1        1

[19624 rows x 3 columns]

In [28]:
# save data
df_tweets_dec_urls_1_link_ith_users_count.to_csv(
    twitter_path
    + "df_tweets_dec_urls_1_link.csv",
    index=False,
)

<a id='more12'></a>
#### More Than One Link

><ul>
 <li><a href="#one12">One Link</a></li>
 <li><a href="#more12">More Than One Link</a></li>  

 </ul>

In [29]:
df_tweets_dec_urls_urls_more = df_more_than_link(df_tweets_dec_urls)

In [30]:
df_tweets_dec_urls_urls_more.head(2)

,id_str,created_at,full_text,user.id_str,user.screen_name,user.name,user.created_at,shorten_urls,n_urls,urls
0,1.338252e+18,2020-12-13 22:40:00+00:00,Johnny Depp exige a Warner Bros. sacar a Amber...,244218738.0,SinEmbargoMX,Sin Embargo MX,2011-01-28 20:21:23+00:00,"['https://t.co/NHto0O1Ftk', 'https://t.co/v6P2...",2,"[https://www.sinembargo.mx/13-12-2020/3909331,..."
1,1.338262e+18,2020-12-13 23:20:00+00:00,Johnny Depp exige a Warner Bros. sacar a Amber...,415155226.0,MagazineSEMX,Sin Embargo Magazine,2011-11-17 23:55:57+00:00,"['https://t.co/quKtMDv5Ry', 'https://t.co/N4Nw...",2,"[https://www.sinembargo.mx/13-12-2020/3909331,..."

In [31]:
df_tweets_dec_urls_urls_more_with_users_count = more_than_one_link_with_count(df_tweets_dec_urls_urls_more,
                             "user.id_str",
                             "urls")

In [32]:
df_tweets_dec_urls_urls_more_with_users_count.to_csv(
    twitter_path
    + "df_tweets_dec_urls_more.csv",
    index=False,
)

In [33]:
df_tweets_dec_urls_urls_more_with_users_count

                                                   link  count  n_users
0          https://www.sinembargo.mx/13-12-2020/3909331      2        2
1     https://twitter.com/SinEmbargoMX/status/133825...      1        1
2     https://twitter.com/MagazineSEMX/status/133826...      1        1
3                               https://www.change.org/     33       20
4     https://www.change.org/p/dc-entertainment-remo...     14       13
...                                                 ...    ...      ...
1578  https://www.dailymail.co.uk/news/article-89977...      1        1
1579  https://www.radiovanguardia.com/2020/12/06/amb...      1        1
1580  https://twitter.com/rvanguardia/status/1335660...      1        1
1581  https://www.reddit.com/r/memes/comments/k5ao7x...      1        1
1582  https://twitter.com/BraveMoonGirl1/status/1335...      1        1

[1583 rows x 3 columns]